<div class="row">

  <section>
    <div class="col-12">
      <mat-card>
        <mat-card-subtitle>
          Функция
        </mat-card-subtitle>
        <mat-card-title>
          {{formula}}
        </mat-card-title>
      </mat-card>

      <div class="space"></div>

      <mat-card class="p0">
        <canvas appChartsBackground
                class="charts__background-canvas"
                [width]="canvasSize"
                [height]="canvasSize"></canvas>
        <canvas #canvas
                class="charts__canvas"
                [width]="canvasSize"
                [height]="canvasSize"></canvas>
      </mat-card>
    </div>
    <div class="space"></div>
  </section>

  <div class="col">
    <mat-card>
      <mat-card-subtitle>
        Уравнение в общем виде
      </mat-card-subtitle>
      <mat-card-title>
        <mat-form-field class="charts__select">
          <mat-select class="charts__select"
                      [(value)]="functionType"
                      (change)="drawFunction()">
            <mat-option value="linear">y = ax + b</mat-option>
            <mat-option value="parabole">y = ax&#178; + bx + c</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-title>
    </mat-card>

    <div class="space"></div>

    <ng-container #linearTemplate
                  *ngIf="functionType === 'linear'; else paraboleTemplate">
      <app-param paramName="a"
                 subtitle="Коэффициент наклона"
                 [incrementValue]="incrementValue"
                 iconLeft="rotate-left"
                 iconRight="rotate-right"
                 [(param)]="paramA"
                 (paramChange)="drawFunction()"></app-param>
      <div class="space"></div>
      <app-param paramName="b"
                 subtitle="Вертикальное cмещение"
                 [incrementValue]="incrementValue"
                 iconLeft="up"
                 iconRight="down"
                 [(param)]="paramB"
                 (paramChange)="drawFunction()"></app-param>
      <div class="space"></div>
    </ng-container>

    <ng-template #paraboleTemplate>
      <app-param paramName="a"
                 subtitle="Коэффициент вогнутости/выпуклости"
                 [incrementValue]="incrementValue"
                 iconLeft="rotate-left"
                 iconRight="rotate-right"
                 [(param)]="paramA"
                 (paramChange)="drawFunction()"></app-param>
      <div class="space"></div>
      <app-param paramName="b"
                 subtitle="Горизонтальное смещение (влияет и на вертикальное)"
                 [incrementValue]="incrementValue"
                 iconLeft="rotate-left"
                 iconRight="rotate-right"
                 [(param)]="paramB"
                 (paramChange)="drawFunction()"></app-param>
      <div class="space"></div>
      <app-param paramName="c"
                 subtitle="Вертикальное смещение"
                 [incrementValue]="incrementValue"
                 iconLeft="up"
                 iconRight="down"
                 [(param)]="paramC"
                 (paramChange)="drawFunction()"></app-param>
    </ng-template>

  </div>
</div>
<div class="space"></div>