<mat-card>

  <mat-card-subtitle>
    {{subtitle}}
  </mat-card-subtitle>

  <mat-card-title>
    <mat-form-field>
      <span matPrefix>{{paramName}} = &nbsp;</span>
      <input
        matInput
        tabindex="1"
        type="number"
        [(ngModel)]="param"
        (change)="paramChange.emit(param)"
      >
    </mat-form-field>
  </mat-card-title>

  <mat-card-actions>
    <button
      mat-raised-button
      color="accent"
      (click)="decrementParam()"
    >
      <span>
        <mat-icon [svgIcon]="iconRight"></mat-icon>
        - {{incrementValue}}
      </span>
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="incrementParam()"
    >
      <span>
        <mat-icon [svgIcon]="iconLeft"></mat-icon>
        + {{incrementValue}}
      </span>
    </button>
  </mat-card-actions>

</mat-card>
