@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.charts {
  display: grid;
  overflow-y: auto;
  height: 100%;
  padding: 0 15px;
  padding-bottom: 15px;
  grid-gap: 15px;
  grid-template-columns: minmax(auto, 600px) 420px;
  @include media-breakpoint-down(md) {
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: 100%;
  }

  &__col-1 {
    pointer-events: none;
    @include media-breakpoint-down(md) {
      position: sticky;
      z-index: 10;
      top: -100px;
      margin-left: auto;
    }
  }

  &__background-canvas,
  &__canvas {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  &__canvas-container {
    padding: 0 !important;
  }

  &__canvas {
    margin-bottom: -7px !important;
  }

  &__background-canvas {
    position: absolute;
  }

  &__select {
    min-width: 228px;
  }

  .mat-card-subtitle {
    margin-top: -15px !important;
    margin-bottom: 0;
  }

  .mat-form-field {
    margin-bottom: -20px;
  }

  .mat-card {
    margin-top: 15px;
  }
}