<section class="app-charts__col-1">
  <mat-card>
    <mat-card-title>
      <span [innerHTML]="formula"></span>
    </mat-card-title>
  </mat-card>

  <div #stickyContainer
       class="app-charts__canvas-container">
    <mat-card>
      <canvas appBackgroundGrid
              class="app-charts__background-canvas"
              [width]="canvasSize"
              [height]="canvasSize"
              [cellSize]="cellSize"></canvas>
      <canvas #canvas
              class="app-charts__canvas"
              [width]="canvasSize"
              [height]="canvasSize"></canvas>
    </mat-card>
  </div>
</section>

<section class="app-charts__col-2">
  <mat-card>
    <mat-card-subtitle>
      Уравнение в общем виде
    </mat-card-subtitle>
    <mat-card-title>
      <mat-form-field class="app-charts__select">
        <mat-select class="app-charts__select"
                    tabindex="1"
                    [disabled]="isTestRunning"
                    [(value)]="chartType"
                    (selectionChange)="draw()">
          <mat-option value="linear">y = kx + b</mat-option>
          <mat-option value="parabole">y = ax&#178; + bx + c</mat-option>
          <mat-option value="hyperbole">y = k/x</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-title>
  </mat-card>

  <ng-container *ngIf="chartType === 'linear'">
    <app-chart-param paramName="k"
                     subtitle="Коэффициент наклона"
                     iconLeft="rotate-left"
                     iconRight="rotate-right"
                     [(param)]="power1"
                     (paramChange)="draw()"></app-chart-param>
    <div class="space"></div>
    <app-chart-param paramName="b"
                     subtitle="Вертикальное cмещение"
                     iconLeft="up"
                     iconRight="down"
                     [(param)]="power0"
                     (paramChange)="draw()"></app-chart-param>
  </ng-container>

  <ng-container *ngIf="chartType === 'parabole'">
    <app-chart-param paramName="a"
                     subtitle="Коэффициент вогнутости/выпуклости"
                     iconLeft="more-vert"
                     iconRight="more-vert"
                     [(param)]="power2"
                     (paramChange)="draw()"></app-chart-param>
    <div class="space"></div>
    <app-chart-param paramName="b"
                     subtitle="Горизонтальное смещение (влияет и на вертикальное)"
                     iconLeft="more-horiz"
                     iconRight="more-horiz"
                     [(param)]="power1"
                     (paramChange)="draw()"></app-chart-param>
    <div class="space"></div>
    <app-chart-param paramName="c"
                     subtitle="Вертикальное смещение"
                     iconLeft="up"
                     iconRight="down"
                     [(param)]="power0"
                     (paramChange)="draw()"></app-chart-param>
  </ng-container>

  <ng-container *ngIf="chartType === 'hyperbole'">
    <app-chart-param paramName="k"
                     subtitle="Коэффициент"
                     iconLeft="more-horiz"
                     iconRight="more-horiz"
                     [(param)]="power_1"
                     (paramChange)="draw()"></app-chart-param>
  </ng-container>

  <mat-card *ngIf="!isTestRunning; else stopwatch">
    <mat-card-content>
      <strong>Построй предложенную функцию</strong>
      <br><i>За использование клавиш добавляются секунды</i>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              class="app-charts__btn-random-func"
              color="warn"
              (click)="test()">ТЕСТ</button>
    </mat-card-actions>
  </mat-card>
  <ng-template #stopwatch>
    <mat-card>
      <mat-card-title> {{timerValue}} c </mat-card-title>
    </mat-card>
  </ng-template>
</section>

<mat-card *ngIf="resultMessage">
  <mat-card-title>{{resultMessage}}</mat-card-title>
  <mat-card-content>
    <strong>Время:</strong> {{timerValue}} с
  </mat-card-content>
</mat-card>