@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
.charts {
  &__background-canvas,
  &__canvas {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  &__canvas-container {
    @include media-breakpoint-up(md) {
      margin-right: 15px;
    }
  }
  &__canvas {
    margin-bottom: -7px!important;
  }
  &__background-canvas {
    position: absolute;
  }
  &__select {
    min-width: 228px;
  }
}

.mat-card-subtitle {
  margin-top: -15px!important;
  margin-bottom: 0;
}

.mat-form-field {
  margin-bottom: -20px;
}

.space {
  width: 100%;
  margin: 12px 0;
}