@import "~_variables.scss";

.charts {
  &__background-canvas,
  &__canvas {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }

  &__canvas {
    margin-bottom: -7px!important;
  }

  &__background-canvas {
    position: absolute;
    background-color: $app-color-grey;
  }
}
