@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

/* Styles */

.charts {
  &__background-canvas,
  &__canvas {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
  }
  &__first-col {
    margin-right: 15px;
    pointer-events: none;
    @include media-breakpoint-down(md) {
      position: sticky;
      z-index: 10;
      top: -96px;
      margin-right: 0;
      margin-left: auto;
    }
  }
  &__canvas-container {
    padding: 0!important;
  }
  &__canvas {
    margin-bottom: -7px!important;
  }
  &__background-canvas {
    position: absolute;
  }
  &__select {
    min-width: 228px;
  }
  .mat-card-subtitle {
    margin-top: -15px!important;
    margin-bottom: 0;
  }
  .mat-form-field {
    margin-bottom: -20px;
  }
}

.space {
  width: 100%;
  margin: 12px 0;
}