<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-btn" (click)="sidenav.toggle()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <span class="title">Школа №13</span>
    <img class="logo" src="./assets/logo.png" alt="Староуткинск">
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="isSidenavOpened">
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/charts">
        <mat-icon mat-list-icon svgIcon="game"></mat-icon>
        <p mat-line>Графики</p>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </a>
      <a mat-list-item routerLink="/games/iron-man">
        <mat-icon mat-list-icon svgIcon="game"></mat-icon>
        <p mat-line>Железный человек</p>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>