@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mat-toolbar {
  z-index: 2;
  @include mat-elevation(3);
}

.mat-sidenav-container {
  flex: 1;
}

.mat-sidenav-content {
  display: flex;
  justify-content: center;
}

.menu-btn {
  margin-right: 10px;
}

.logo {
  height: 100%;
  margin-left: auto;
  padding: 2px;
}

.mat-list-info {
  color: #ccc;
}
