<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-btn" (click)="sidenav.toggle()">
      <div>
        <mat-icon svgIcon="menu"></mat-icon>
      </div>
    </button>
    <span class="title">Школа №13</span>
    <img class="logo" src="./assets/logo.png" alt="Староуткинск">
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="isSidenavOpened">
    <mat-nav-list (click)="sidenav.close()">
      <mat-list-item>
        <a matLine routerLink="/charts">Графики</a>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a matLine routerLink="/games/iron-man">Железный человек</a>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
