@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~_variables.scss";

.game-iron-man {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__canvas {
    background-color: $app-color-black;
    @include media-breakpoint-down(md) {
      width: 100%;
      max-height: 100%;
    }
  }
}