@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Global elements */

* {
  outline: none!important;
}

a {
  text-decoration: none!important;
  color: inherit!important;
}

.p0 {
  padding: 0;
}

.mat-list-icon {
  font-size: 0!important;
}

.mat-list-info {
  color: #ccc;
}