@import "~bootstrap/scss/bootstrap-reboot";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Global elements */

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
