<main>
  <div>
    <mat-nav-list>
      <a mat-list-item routerLink="/charts">
        <mat-icon mat-list-icon svgIcon="game"></mat-icon>
        <p mat-line>Графики</p>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </a>
      <a mat-list-item routerLink="/game1">
        <mat-icon mat-list-icon svgIcon="game"></mat-icon>
        <p mat-line>Железный человек против мороженого</p>
        <mat-icon class="mat-list-info" svgIcon="play"></mat-icon>
      </a>
    </mat-nav-list>
  </div>
</main>